@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden;
}
  .navbar h1 {
    font-family: 'Fasthand', cursive;  }


.links .l{
    font-family: 'Indie Flower', cursive;
}
.hero {
    font-family: 'Inika', serif;
}
.active {
    background-color: #0d6efd;
    color: white;
}
.page-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid #dee2e6;  
    padding: .375rem .75rem;
     color: #0d6efd;
    text-align: center;
}
.pagination {
    display: flex;
    flex-direction: row; 
    gap: 1rem;
    justify-content: center;
}